<div class="is-flex is-fullwidth is-align-items-flex-start is-justify-content-space-between mb-5">
  <h2>Villains</h2>
  <%= link_to 'Add a Villain', new_villain_path, class: 'button is-primary' %>
</div>

<%= render 'shared/character_filters' %>

<%= render "shared/#{ character_display.downcase }", characters: @villains %>
