<div class="is-flex is-fullwidth is-align-items-flex-start is-justify-content-space-between mb-5">
  <h2>Villains</h2>
  <%= link_to 'Add a Villain', new_villain_path, class: 'button is-primary' %>
</div>

<% if params[:display] == 'cards' %>
  <%= render 'shared/table', characters: @villains %>
<% else %>
  <%= render 'shared/cards', characters: @villains %>
<% end %>
