<% if signed_in? %>
  <%= render template: 'heroes/show' %>
<% else %>
  <h2>Home Page</h2>

  <p>
    Hello! All the current content requires a login, due to copyright questions currently being asked by me. Hopefully the application can be open to public at some future point.
  </p>

  <p>But for now, nothing.</p>
<% end %>
