<div class="is-flex is-fullwidth is-align-items-flex-start is-justify-content-space-between mb-5">
  <h2>Heroes</h2>
  <%= link_to 'Add a Hero', new_hero_path, class: 'button is-primary' %>
</div>

<%= render 'shared/character_filters' %>

<%= render "shared/#{ character_display }", characters: @heroes %>
