// @charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// Set your brand colors
$purple: #2E0940;
$plum: #7F093D;
$magenta: #BB064D;
$red: #EB0B37;
$orange: #F94D1B;
$white: #FFF;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $magenta;
$primary-invert: $white;
$link: $primary !default;
$link-hover: lighten($primary, 10%) !default;
$notification-radius: 0;

$mobile-side-spacing: 7px;

@import 'bulma/bulma';

html, body {
  height: 100%;
}

h1, h2, h3, p {
  @include block;
}

h1 {
  font-size: 1.8em;
  font-weight: 900 !important;
  a {
    font-weight: inherit;
  }
}
h2 {
  font-size: 1.75em;
  font-weight: 900;
  color: $magenta;
}
h3 {
  font-size: 1.4em;
  font-weight: 700;
  color: darken($magenta, 10%);
}

navbar.main {
  h1 {
    margin-bottom: 0;
  }

  a {
    border: 0;
  }

  // Eventually make this work!
  // @include mobile {
  //   background-color: red;
  // }

  @include tablet {
    background-color: $purple;
    color: $white;

    .navbar-end .navbar-item {
      font-size: 0.99em;
      text-transform: none;
      color: lighten($purple, 30%);
      &:hover {
        color: $white !important;
      }
    }
  }

  > .navbar-brand {
    @include mobile {
      padding-left: $mobile-side-spacing;
    }
    @include tablet {
      padding-top: 0.25em;
      padding-left: 1em;
      padding-right: 1em;
      color: lighten($magenta, 5%);
      a {
        color: lighten($magenta, 5%);
      }
    }
  }

  .navbar-item {
    font-weight: 700;
    font-size: 1.1em;
    text-transform: uppercase;

    @include tablet {
      color: lighten($purple, 40%);

      &:hover {
        color: lighten($magenta, 20%);
      }

      &.is-active {
        color: $white;
      }
    }
  }

  .navbar-menu {
    padding: 0;
  }
}

a {
  font-weight: 700;
  border-bottom: 1px dashed desaturate(lighten($primary, 50%), 10%);
  &:hover {
    border-bottom-style: solid;
    border-bottom-color: desaturate(lighten($primary, 40%), 10%);
  }
}

.button {
  text-transform: uppercase;
  font-weight: 700;
}

.box.login {
  background-color: desaturate(lighten($magenta, 50%), 40%);
  padding: 2em;

  input[type=checkbox] {
    -webkit-transform: scale(1.3, 1.3);
    vertical-align: middle;
    position: relative;
    bottom: 2px;
  }
}

main {
  margin-top: 1.5em;

  > .container {
    @include mobile {
      padding-right: $mobile-side-spacing;
      padding-left: $mobile-side-spacing;
    }
  }
}

td.actions {
  @include desktop {
    white-space: nowrap;
  }

  a {
    color: lighten($grey-light, 15%);
    font-weight: 500;
    padding-left: 5px;
    border: 0;

    &:hover {
      color: $magenta;
    }

    @include mobile {
      font-size: 1.25em;
      line-height: 1.75em;
    }
  }
}

a.button.is-white {
  color: lighten($grey, 30%);
}

.has-text-grey-lighter:hover {
  color: darken($grey-lighter, 20%) !important;
}

form .field.is-horizontal .field-label {
  margin-top: 2px;
}

form {
  input.checkbox[type=checkbox] {
    -webkit-transform: scale(1.3, 1.3);
    vertical-align: middle;
    position: relative;
    bottom: 2px;
  }
}

img.card {
  border-radius: 15px;

  @include mobile {
    max-width: 40%;
  }
}

.hero-card, .villain-card {
  margin-right: 0.6em;
  white-space: nowrap;
}

.box.login {
  width: 50%;

  @include mobile {
    width: 90%;
  }
}

i.fa-face-smile-halo {
  color: lighten($blue, 25%);
}
i.fa-face-smile-horns {
  color: lighten($red, 30%);
}

.cards .character {
  margin-right: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
  flex: 0 1 calc(20% - 16px);

  &:nth-child(5n) {
    margin-right: 0 !important;
  }

  @include mobile {
    margin-right: 5px;
    flex: 0 1 calc(33% - 5px);
  }

  img {
    display: block;
    margin: 0 auto 5px;
  }
}

form.js-filters {
  margin-top: -1.5em;

  .field.is-horizontal {
    margin: 0 1em;
    .field-label {
      margin-right: 0.75em;
    }
  }

  select[name=character_display] {
    text-transform: capitalize;
  }
}
